
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Orbitron:wght@500&display=swap');

.container {
    height: 400px;
    width: 300px;
    background-color: #557976;
    margin: 120px auto;
    text-align: center;
    border-radius: 3%;
    border: 4px solid #192c2e;
    box-shadow: 8px 8px #111e20;
}


.visor {
    height: 80px;
    width: 240px;
    background-color: rgb(240, 230, 173);
    margin: 15px auto;
    border-radius: 5%;
    font-family: 'Orbitron', sans-serif;
    color: rgb(58, 22, 7);
    box-shadow: inset 4px 4px rgba(54, 11, 11, 0.856);
    display: grid;
}
.displayMemo {
    margin-top: 10px;
    font-size: medium;
    justify-items: first baseline;
}
.displayDigit  {
    font-size:xx-large;
    font-weight: 900; 
    justify-items: baseline;
}

button {
    color: rgb(236, 227, 190);
    height: 50px;
    width: 50px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'JetBrains Mono', monospace;
    border-radius: 15%;
    border: 2px solid #132022;
    margin:1px;
    box-shadow: 2px 3px rgb(20, 35, 41);
}

.number {
    background:rgb(47, 72, 83);
    
}

.operator, #equal {
    background:rgb(101, 107, 82);    

}

#clear, #delete {
    background:  rgb(117, 31, 31);
}

.hid {
    background-color: #557976;
    border: none;
    box-shadow: none;
}

